.admin-page{
    display:flex;
    gap:40px;
    padding:30px;
}

.admin-column{
    flex:1;
    background:#232323;
    padding:20px;
    border-radius:12px;
}

.admin-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px;
    margin:10px 0;
    background:#2f2f2f;
    border-radius:8px;
}

.delete-btn{
    background:#b30000;
    color:white;
}

.ban-btn{
    background:#d67b00;
    color:white;
}