* {
    box-sizing: border-box;
}

.layout {
    display: flex;
    height: 100vh;
    background: #1a1a1a;
    color: white;
}

.friends-panel {
    width: 280px;
    display: flex;
    flex-direction: column;

    padding: 1rem;
    background: #202020;
    border-right: 1px solid #333;
}

.friends-list {
    flex: 1;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0 0 1rem 0;
}

.friend-item {
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    background: #2b2b2b;
    cursor: pointer;
}

.friend-item:hover {
    background: #3a3a3a;
}

.friends-search input {
    width: 100%;
    padding: 0.6rem;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #2b2b2b;
    color: white;
}

/* ===================== */
/* RIGHT PANEL           */
/* ===================== */

.main-panel {
    flex: 1;
    padding: 1.5rem;
    overflow-y: auto;
}

/* Tabs */
.tabs {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.profile-tile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #333;
}

.profile-tile span {
    margin-left: 1em;
}

.profile-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.friends-list .profile-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.friends-list li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.friends-list li p {
    margin-left: 1em;
}

.tabs button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    background: #2b2b2b;
    color: white;
    cursor: pointer;
}

.tabs button.active {
    background: white;
    color: #2b2b2b;
}

main h3 {
    margin: 2em 0em;
}

.library-button,
.library-button-added {
    width: 20px;
    height: 20px;
    text-align: center;
    color: white;
    background: rgba(255, 255, 255, 0.255);
    border: none;
}

img[src="/games/under_construction.png"] {
    opacity: 0.1;
}

.library-button-added {}

.fav-toggle-btn svg {
    display: block;
    margin-left: 5px;
}

.library-button {}

.fav-toggle-btn {
    background: none;
    border: none;
    font-size: 1em;
}

.games-grid {
    display: grid;
    grid-template-columns:
        repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;

}

.profile-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.game-tile {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    background: #222;
    transition: transform .2s;
    display: flex;
    flex-direction: row;
    align-items: center;
        position: relative;
    overflow: hidden;
}

.game-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-overlay {
    opacity: 0;
    pointer-events: none;

    position: absolute;
    inset: 0;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    background: linear-gradient(
        transparent,
        rgba(0, 0, 0, .7)
    );

    transition: opacity 0.2s ease;
}

.game-tile:hover .game-overlay {
    opacity: 1;
    pointer-events: auto;
}

.game-upper-half {
    display: flex;
    justify-content: flex-end;
}

.game-lower-half {
    flex: 1;
    display: flex;
}

.game-actions {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.play-button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background: rgba(255, 255, 255, .15);
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.play-button:hover{
    background: rgba(255, 255, 255, .30);
}

.game-details {
    align-self: flex-end;
    overflow: hidden;
    margin-right: auto;
}

.game-title {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

h3 {
    font-size: 16px;
}

.game-genre {
    color: #bbb;
    margin-top: .25rem;
    font-size: 0.8rem;
}

.game-playtime {
    color: #bbb;
    margin-top: .25rem;
    font-size: 0.8rem;
}


.remove-btn {
    background: rgba(255, 255, 255, .15);
    border: none;
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}


.remove-btn:hover {
    background: #d33;
}

.friends-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.add-btn {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 8px;
    background: #2b2b2b;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-btn:hover {
    background: #3a3a3a;
}

.add-btn.active {
    background: #2b2b2b;
}

.chat-view {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-header {
    flex-shrink: 0;
    margin-bottom: 1em;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.msg {
    padding: 0.5rem 0.75rem;
    border-radius: 8px;
    background: #2b2b2b;
    width: fit-content;
    align-self: flex-start;
}

.msg.me {
    background: #4f46e5;
    align-self: flex-end;
}

.chat-input {
    display: flex;
    gap: .5rem;
    margin-top: 1rem;
    flex-shrink: 0;
}

.chat-input input {
    flex: 1;
    padding: 0.5rem;
    border-radius: 8px;
    border: none;
    background: #2b2b2b;
    color: white;
}

.store-search {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.6rem;
    border-radius: 8px;
    border: none;
    background: #2b2b2b;
    color: white;
}


.add-friend-view {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.friend-search {
    width: 100%;
    padding: 0.6rem;

    border: none;
    border-radius: 8px;

    background: #2b2b2b;
    color: white;
    outline: none;
}

.search-results {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.75rem;
    border-radius: 8px;

    background: #2b2b2b;
}

.add-btn-small {
    padding: 0.3rem 0.6rem;

    border: none;
    border-radius: 6px;

    background: #2b2b2b;
    color: white;

    cursor: pointer;
}

.add-btn-small:hover {
    background: #2b2b2b;
}

.user-item button {
    padding: 6px 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: white;
    color: #2b2b2b;
    font-weight: 500;
    transition: all 0.2s ease;
}

.cat-sep {
    margin-top: 2em;
}


/* SENT STATE */
.user-item button:disabled {
    background: #444;
    color: #aaa;
    cursor: not-allowed;
    opacity: 0.8;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
}

/* Basis message style */
.msg {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    padding: 8px 12px;
    border-radius: 12px;
    background: #2a2a2a;
    color: white;
    align-self: flex-start;
    /* links */
}

/* deine Nachrichten */
.msg.me {
    background: #3b82f6;
    align-self: flex-end;
    /* rechts */
    text-align: right;
}

.popup-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    z-index: 1000;
}

.friend-request-popup {
    background: #2b2b2b;
    color: white;
    padding: 24px;
    border-radius: 10px;
    min-width: 320px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.popup-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
}

.popup-buttons button {
    padding: 8px 20px;
    cursor: pointer;
}

.back-btn {
    background: transparent;
    border: none;
}

.back-btn svg {
    display: block
}

.chat-msg-time {
    font-size: 0.7em;
    opacity: 0.7;
}

.chat-msg-group {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

.chat-date-separator {
    font-size: 0.7em;
    opacity: 0.7;
    align-self: center;
    margin-bottom: 1.4em;
    margin-top: 0.8em;
}

.send-btn {
    background: transparent;
    border: none;
}

.send-btn svg {
    display: block;
}

.dashboard-btn {
    margin-left: 10px;
    padding: 6px 10px;
    border-radius: 6px;
    border: none;
    background: #4a90e2;
    color: white;
    cursor: pointer;
}

.dashboard-btn:hover {
    background: #3b78c2;
}

