@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #1a1a1a;
    color: white
}

.form-container {
    border-radius: 0.4em;
    background: #202020;
    border: 1px solid #383838;
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
    color: white
}

.form-container>form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

form>input {
    padding: 0.5em;
}

.submit-button {
    padding: 0.5em;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a1a;

}

a {
    color: white;
}

.error-msg {
    color: red
}


button:hover {
    cursor: pointer;
}

.back-btn {
    background: transparent;
    border: none;
}

.back-btn svg {
    display: block;
}



.profile-input-container input {
    height: 50px;
    padding: 0.1em 0.6em;
    width: 100%;
}

.profile-input-container h3 {
    padding-bottom: 1em;
}

.profile-wrapper .back-btn {
    align-self: flex-start;
}

.profile-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-wrapper {
    width: 50%;
    background-color: rgb(32, 32, 32);
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.profile-wrapper h2 {
    font-size: 18px;
    align-self: center;
}

.profile-wrapper img {
    align-self: center;
}

.profile-wrapper h2 {
    align-self: center;
}

.profile-wrapper h2 {
    align-self: center;
}

.file-upload {
    display: inline-block;
    padding: 10px 20px;
    background: #333;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.file-upload input {
    display: none;
}

#profile-picture-upload {
    align-self: center;
}

input,
textarea {
    background-color: #2b2b2b;
    border: 1px solid #333;
    color: white;

}